{% if error_message %}
        {{error_message.as_p}}
        {% endif %}
        {% for movie in movies %}
        <div class="col-md">
            <a href="#" class="text-decoration-none">
                <div class="card" style="width: 18rem;">
                    <img src=" https://image.tmdb.org/t/p/original/{{movie.poster_path}}" class="card-img-top" alt="Movie Poster">
                    <div class="card-body">
                        <h5 class="card-title">{{movie.original_title}}</h5>
                        <p class="card-text">{{movie.vote_average|floatformat:1}} / 10</p> 
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}    